body
  padding 20px

.nodes
  display table
  .node
    display table-row
    .col
      display table-cell
      padding-left 10px
      padding-right 10px
      &._id
        font-weight bold
      &._rev
        display block
