.nodes
  //padding 20px
  margin 0px 20px


/*
.nodes
  display table
  .node
    display table-row
    .col
      display table-cell
      padding-left 10px
      padding-right 10px
      &._id
        font-weight bold
      &._rev
        .value_rev
          //margin-top: -0.1em
          //margin-left: -0.1em
          display none
        &:hover .value_short_rev
          display none
        &:hover .value_rev
          display block*/

.columns
  -moz-column-count 4
  -webkit-column-count 4
  column-count 4
  -moz-column-gap 1em
  -webkit-column-gap 1em
  column-gap 1em

.columnNode
  display inline-block
  width 100%
