body
  padding 20px

.nodes
  display table
  .node
    display table-row
    .col
      display table-cell
      padding-left 10px
      padding-right 10px
      &._id
        font-weight bold
      &._rev
        .value_rev
          //margin-top: -0.1em
          //margin-left: -0.1em
          display none
        &:hover .value_short_rev
          display none
        &:hover .value_rev
          display block
      &._text
        p
          -webkit-margin-before 0
          -webkit-margin-after 0
